# [google settings]
# 구글 클라우드 콘솔에서 발급받은 ID
REACT_APP_GOOGLE_CLIENT_ID=구글 클라우드 콘솔 플랫폼에서 부여받은 클라이언트 ID 값
REACT_APP_API_URL=http://localhost:8000

# 주의: 동일 컴퓨터에서 백엔드까지 실행하여 테스트시 백엔드 에도 동일 키 값이 적용되어야 함.<br>
# (단, 백엔드가 다른 서버에서 동작중이고, IP 또는 http 주소로 접속시엔 상관없음)

# 클라이언트 ID 값 생성 방법: AIP 서비스 -> 사용자인증정보 -> OAuth 2.0 클라이언트 ID,<br>
# 키값\_예시: 551271234567-lo73lg..랜덤값..bv8m.apps.googleusercontent.com